DATABASE_URL=postgres://app_user:local_user@localhost:5432/hookly
REDIS_URL=redis://localhost:6379
SERVER_HOST=0.0.0.0
SERVER_PORT=3000
RUST_LOG=debug
CRYPTO_MASTER_KEY=ZUZiiBj3tGXBYomfoT8VkZyor4kbRZ0mZ2ArCvOa5pM=
CRYPTO_API_KEY_ENCRYPTION_KEY=Dkp4tRXkYMtSxxKnvLnYEcoC/SE+W70wz+HWL7hFr+M=

